*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.countainer{
    width: 70%;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
    align-items: end;
}

.logo{
    align-items: center;
    padding-right: 20px;
    
    
}

tr,td,th{
    border: 2px solid white;
    border-spacing: 0px;
    padding: 5px 15px;
    line-height: 18px;
}


table{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: black;
    color: white;
    border-collapse: collapse;
    
}

footer{
    text-align: center;
    background-color: rgb(39, 37, 37);
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 auto;
    background-color:rgb(39, 37, 37) ;
    height: 60px;
    width: 100%;

}

h2{
    text-align: center;
    margin: 20px 30px;
    color: white;

}

body{
    background-color: black;
}

button{
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 4px;
}